.channel {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.channel:hover{
    background-color: black;
}

.channel__details{
    display: flex;
    align-items: center;
   
}

.channel>div>img{
    object-fit: contain;
    width: 50px;
    margin-right: 5px;
    border-radius: 50%;
}